<!-- Modal Overlay -->
@if (isOpen()) {
  <div
    class="modal"
    role="dialog"
    aria-modal="true"
    (click)="onBackdropClick($event)"
    (keydown)="onKeydown($event)"
  >
    <!-- Modal Panel -->
    <div
      #modalContent
      class="modal__panel"
      [ngClass]="sizeClass()"
      tabindex="-1"
    >
      <!-- Modal Header -->
      <div class="modal__header">
        <div class="modal__title">
          @if (title()) {
            <h2>{{ title() }}</h2>
          }
          <ng-content select="[modal-header]"></ng-content>
        </div>

        @if (showCloseButton()) {
          <button
            type="button"
            class="modal__close"
            (click)="close()"
            aria-label="Close modal"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        }
      </div>

      <!-- Modal Body -->
      <div class="modal__body">
        <ng-content select="[modal-body]"></ng-content>
        <ng-content></ng-content>
      </div>

      <!-- Modal Footer -->
      <div class="modal__footer">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
